[submodule "lib/log/log4cplus"]
	path = lib/log/log4cplus
	url = https://github.com/log4cplus/log4cplus
[submodule "lib/libbacktrace"]
	path = lib/libbacktrace
	url = https://github.com/tehKaiN/libbacktrace
	branch = cmake
